<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img
      src="/img/health.jpg"
      width="300"
      height="200"
      class="d-block mx-lg-auto img-fluid circular-image"
      loading="lazy"
      alt="Health"
    />
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">
      A World of Home Remedies, All in One Place
    </h1>
    <p class="lead">
      Welcome to our website, a comprehensive repository of home remedies for
      diseases, where you'll find an extensive collection of natural solutions
      to enhance your health and vitality.
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
  </div>
</div>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
  <% if(categories != '') { %> <% categories.forEach(function(category, index) {
  %>
  <a
    href="/categories/<%- category.name %>"
    class="col text-center category__link"
  >
    <div class="category__img shadow">
      <img
        src="img/<%- category.image %>"
        alt="<%- category.name %>"
        loading="lazy"
      />
    </div>
    <div class="pt-1"><%- category.name %></div>
  </a>
  <% }) %> <% } %>

  <a href="/categories" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="img/viewall.jpg" alt="test" loading="lazy" />
    </div>
    <div class="pt-1">View All</div>
  </a>
</div>

<!-- Latest Start -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center justify-content-between">
    <h2>Explore Remedies</h2>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (newdis != '') { %> <% newdis.latest.forEach(function(disease, index){
    %>

    <a
      href="/disease/<%= disease._id %>"
      class="col text-center category__link"
    >
      <div class="category__img category__img--large shadow">
        <img
          src="/img/<%= disease.image %>"
          alt="<%= disease.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= disease.name %></div>
    </a>
    <% }) %> <% } %>
  </div>
</section>

<!-- Latest End -->
